<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- Búsquedas -->
    <button
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': region === this.selectedRegion }">
      {{ region }}
    </button>
  </div>
</div>

<div class="row">
  <div class="col">
    <!-- Tabla de resultados -->
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countriesList]="countriesList"></countries-table>
  </div>
</div>
